body {
    background-color: #f4f4f4;
}

.card {
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

.dark-theme {
    background-color: #222;
    color: white;
}

#dashboard {
    display: none;
}